<mat-label>{{ 'phrases.greenhouseBenches'|translate }}</mat-label>

<ul>
  <li *ngFor="let benchFormGroup of cachedBenchFormGroups; let i = index" [formGroup]="benchFormGroup"
      class="inline-form-fields">
    <mat-form-field>
      <input [placeholder]="'phrases.benchName'|translate" formControlName="name"
             matInput required/>
      <mat-error *ngIf="benchFormGroup.get('name').invalid">
        {{ 'validations.pleaseInputName'|translate }}
      </mat-error>
    </mat-form-field>

    <app-shape-form [form]="benchFormGroup" areaUnit="Meter"></app-shape-form>

    <button (click)="removeBench(i)" mat-icon-button type="button">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
</ul>

<app-paginator #benchesPaginator *ngIf="null != greenhouse.id" [fetcherArguments]="[greenhouse]" [fetcher]="httpBenchService"></app-paginator>

<button (click)="pushBench()" mat-stroked-button type="button">{{ 'phrases.addABench'|translate }}</button>
