<nav class="top-actions-button">
  <a mat-raised-button color="primary" [routerLink]="['/grower/manage-pot']">
    {{ 'phrases.addAPot'|translate }}
  </a>
</nav>

<div class="mat-elevation-z3">
  <table mat-table [dataSource]="pots">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>{{ 'words.name'|translate }}</th>
      <td mat-cell *matCellDef="let pot">{{ pot.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'words.actions'|translate }}</th>
      <td mat-cell *matCellDef="let pot; let i = index">
        <a mat-icon-button
           [matTooltip]="'phrases.modifyThePot'|translate"
           matTooltipPosition="after"
           [routerLink]="['/grower/manage-pot/', pot.id]">
          <mat-icon>create</mat-icon>
        </a>
        <button mat-icon-button
                [matTooltip]="'phrases.deleteThePot'|translate"
                matTooltipPosition="after"
                (click)="deletePot(pot.id, i)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>

  <app-paginator [fetcher]="httpPotService" #potsPaginator></app-paginator>
</div>
