<form (ngSubmit)="submitForm()" *ngIf="form" [formGroup]="form" class="request-form l-content-block">
  <div class="inline-form-fields">
    <mat-form-field>
      <input matInput formControlName="name" [placeholder]="'phrases.requestName'|translate" required/>
      <mat-error *ngIf="form.get('name').invalid">{{ 'validations.pleaseInputRequestName'|translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="dueDate" [matDatepicker]="picker" required
             [placeholder]="'phrases.desiredDueDate'|translate"
             [min]="minDueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('dueDate').invalid">{{ 'validations.pleaseInputADate'|translate }}</mat-error>
    </mat-form-field>
  </div>

  <div class="inline-form-fields">
    <mat-form-field>
      <input type="number" matInput formControlName="quantity" required
             [placeholder]="'phrases.desiredPlantQuantity'|translate"/>
      <mat-error *ngIf="form.get('quantity').invalid">{{ 'validations.pleaseInputDesiredPlantQuantity'|translate }}</mat-error>
    </mat-form-field>

    <ng-container *ngIf="form.get('plantNotExists').value; else plantExistsFormPart">
      <mat-form-field>
        <input [placeholder]="'phrases.desiredPlantName'|translate" formControlName="plantName" matInput required/>
        <mat-error *ngIf="form.get('plantName').invalid">
          {{ 'validations.pleaseInputDesiredPlantName'|translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input [placeholder]="'phrases.desiredPlantStageAtDueDate'|translate" formControlName="plantStageName" matInput required/>
        <mat-error *ngIf="form.get('plantStageName').invalid">
          {{ 'validations.pleaseInputAPlantStage'|translate }}
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-template #plantExistsFormPart>
      <mat-form-field>
        <mat-label>{{ 'words.plant'|translate }}</mat-label>
        <mat-select [compareWith]="compareById" formControlName="plant" required>
          <mat-option *ngFor="let plant of plantsPaginatedResource.items" [value]="plant">
            {{ plant.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('plant').invalid">{{ 'validations.pleaseChooseAPlant'|translate }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'phrases.desiredPlantStageAtDueDate'|translate }}</mat-label>
        <mat-select (infiniteScroll)="loadMorePlants()" [compareWith]="compareById" formControlName="plantStage" required>
          <mat-option *ngFor="let stage of plantStages" [value]="stage">
            {{ stage.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('plantStage').invalid">
          {{ 'validations.pleaseChooseAPlantStage'|translate }}
        </mat-error>
      </mat-form-field>
    </ng-template>

    <mat-checkbox formControlName="plantNotExists">
      {{ 'phrases.IDontFindMyPlant'|translate }}
    </mat-checkbox>
  </div>

  <mat-form-field class="double-size-form-field">
    <textarea matInput formControlName="comment" [placeholder]="'phrases.requestComment'|translate"></textarea>
  </mat-form-field>

  <div class="inline-form-fields">
    <mat-form-field>
      <input type="number" matInput formControlName="temperature"
             [placeholder]="'phrases.cultureTemperature'|translate"/>
      <mat-error *ngIf="form.get('temperature').invalid">{{ 'validations.pleaseInputANumber'|translate }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input [placeholder]="'phrases.photoperiodCulture'|translate" formControlName="photoperiod" matInput
             type="number"/>
      <mat-error *ngIf="form.get('photoperiod').invalid">
        {{ 'validations.pleaseInputAValidphotoperiodCultureValue'|translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <button *ngIf="!visualizationMode" color="primary" mat-raised-button type="submit">{{ 'phrases.saveMyRequest'|translate }}</button>
</form>
