<div class="l-content-block" *ngIf="breadcrumbs && breadcrumbs.length > 0">
  <ol class="l-breadcrumb">
    <li>
      <a [routerLink]="['']">{{ 'words.home'|translate }}</a>
    </li>
    <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = isLast">
      <li *ngIf="breadcrumb.label != null">
        <a *ngIf="last; else lastBreadCrumb" [routerLink]="[breadcrumb.path]">
          {{ getTranslationLabel(breadcrumb.label)|translate }}
        </a>
        <ng-template #lastBreadCrumb>
          <span>{{ getTranslationLabel(breadcrumb.label)|translate }}</span>
        </ng-template>
      </li>
    </ng-container>
  </ol>
</div>
