<nav class="top-actions-button">
  <button mat-raised-button color="primary">
    {{ 'phrases.newRequest'|translate }}
  </button>
</nav>

<mat-tab-group class="mat-elevation-z3">
  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'phrases.myRequests'|translate }}
    </ng-template>

    <app-requests-list [columns]="tableColumns" [requests]="requests"></app-requests-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span matBadge="4" matBadgeOverlap="false" matBadgeColor="warn">
        {{ 'phrases.waitingRequests'|translate }}
      </span>
    </ng-template>

    <app-requests-list [columns]="tableColumns" [requests]="requests"></app-requests-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span matBadge="1" matBadgeOverlap="false" matBadgeColor="warn">
        {{ 'phrases.requestsOfCancelling'|translate }}
      </span>
    </ng-template>

    <app-requests-list [columns]="tableColumns" [requests]="requests"></app-requests-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'phrases.cancelledRequests'|translate }}
    </ng-template>

    <app-requests-list [columns]="tableColumns" [requests]="requests"></app-requests-list>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      {{ 'phrases.allRequests'|translate }}
    </ng-template>

    <app-requests-list [columns]="tableColumns" [requests]="requests"></app-requests-list>
  </mat-tab>
</mat-tab-group>
