<nav class="top-actions-button">
  <a [routerLink]="['/manage-request']" color="primary" mat-raised-button>
    {{ 'phrases.newRequest'|translate }}
  </a>
</nav>

<mat-tab-group class="mat-elevation-z3">
  <mat-tab>
    <ng-template mat-tab-label>
      <ng-container>
        {{ 'phrases.myRequests'|translate }}
      </ng-container>
    </ng-template>

    <app-requests-list [columns]="tableColumns"></app-requests-list>
  </mat-tab>

  <ng-container *ngIf="permissionService.isGrower()">
    <mat-tab>
      <ng-template mat-tab-label>
      <span matBadge="4" matBadgeOverlap="false" matBadgeColor="warn">
        {{ 'phrases.waitingRequests'|translate }}
      </span>
      </ng-template>

      <ng-template matTabContent>
        <app-requests-list [columns]="tableColumns" [status]="requestStatus[0]"></app-requests-list>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
      <span matBadge="1" matBadgeOverlap="false" matBadgeColor="warn">
        {{ 'phrases.requestsOfCancelling'|translate }}
      </span>
      </ng-template>

      <ng-template matTabContent>
        <app-requests-list [columns]="tableColumns" [status]="requestStatus[3]"></app-requests-list>
      </ng-template>
    </mat-tab>
  </ng-container>

  <mat-tab>
    <ng-template mat-tab-label>
      <ng-container>
        {{ 'phrases.cancelledRequests'|translate }}
      </ng-container>
    </ng-template>

    <app-requests-list [columns]="tableColumns"></app-requests-list>
  </mat-tab>

  <mat-tab *ngIf="permissionService.isGrower()">
    <ng-template mat-tab-label>
      {{ 'phrases.allRequests'|translate }}
    </ng-template>

    <ng-template matTabContent>
      <app-requests-list [columns]="tableColumns"></app-requests-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>
