<div class="l-login-block-container">
  <form class="manage-plant l-content-block l-login-block" [formGroup]="form" (ngSubmit)="submitForm()">
    <h2>{{ 'words.login'|translate }}</h2>

    <div class="login-fields">
      <mat-form-field>
        <input matInput type="email" formControlName="email" required [placeholder]="'words.email'|translate"/>
        <mat-error *ngIf="form.get('email').invalid">
          {{ 'validations.pleaseInputYourEmail'|translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="password" required [placeholder]="'words.password'|translate"/>
        <mat-error *ngIf="form.get('password').invalid">
          {{ 'validations.pleaseInputYourPassword'|translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="login-actions">
      <button mat-raised-button color="primary" type="submit">{{ 'words.login'|translate }}</button>

      <a href="javascript:void(0)" (click)="openForgotPasswordDialog()">
        <mat-icon>help_outline</mat-icon>
        <span>{{ 'phrases.IForgotMyPassword'|translate }}</span>
      </a>
      <a href="javascript:void(0)" (click)="openAskForAccountDialog()">
        <mat-icon>control_point</mat-icon>
        <span>{{ 'phrases.askForAnAccount'|translate }}</span>
      </a>
    </div>
  </form>
</div>
