<form class="l-content-block" [formGroup]="form" (ngSubmit)="submitForm()">

  <div class="inline-form-fields">
    <mat-form-field>
      <input matInput formControlName="firstName"
             required placeholder="Prénom"
             i18n-placeholder="@@firstName"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="lastName"
             required placeholder="Nom"
             i18n-placeholder="@@lastName"/>
    </mat-form-field>
  </div>

  <div class="inline-form-fields">
    <mat-form-field>
      <mat-label i18n="@@role">Rôle</mat-label>
      <mat-select formControlName="roles" required multiple>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ getRoleLabel(role) }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('roles').invalid" i18n="@@pleaseChooseARole">Merci de choisir un rôle.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="validUntil" [matDatepicker]="picker" placeholder="Date de fin de validité"
             i18n-placeholder="@@endValidityDate" [min]="minValidityDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('validUntil').invalid" i18n="@@pleaseChooseADate">Merci de choisir une date correcte.</mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit" i18n="@@save">Enregistrer</button>
</form>
