<form class="l-content-block" [formGroup]="form" (ngSubmit)="submitForm()">

  <div class="inline-form-fields">
    <mat-form-field>
      <input matInput formControlName="firstName"
             required [placeholder]="'words.firstName'|translate"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="lastName"
             required [placeholder]="'words.lastName'|translate"/>
    </mat-form-field>
  </div>

  <div class="inline-form-fields">
    <mat-form-field>
      <mat-label>{{ 'words.role'|translate }}</mat-label>
      <mat-select formControlName="role" required>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{ getRoleLabel(role)|translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('role').invalid">
        {{ 'validations.pleaseChooseARole'|translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="validUntil" [matDatepicker]="picker"
             [placeholder]="'phrases.endValidityDate'|translate"
             [min]="minValidityDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('validUntil').invalid">
        {{ 'validations.pleaseInputAValidDate'|translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">{{ 'words.save'|translate }}</button>
</form>
