<form class="manage-plant l-content-block" [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field>
    <input matInput formControlName="name" required [placeholder]="'phrases.plantName'|translate" />
    <mat-error *ngIf="form.get('name').invalid">
      {{ 'validations.pleaseInputName'|translate }}
    </mat-error>
  </mat-form-field>

  <div class="plant-stages-container">
    <mat-label>{{ 'phrases.plantStages'|translate }}</mat-label>

    <ul formArrayName="stages" cdkDropList class="plant-stages-drop-zone" (cdkDropListDropped)="onStageMoved($event)">
      <li *ngFor="let stage of form.get('stages').controls; let i = index" [formGroupName]="i" cdkDrag
          class="inline-form-fields draggable">
        <mat-icon class="draggable-icon-information">reorder</mat-icon>

        <mat-form-field>
          <input matInput formControlName="name" required [placeholder]="'phrases.plantStageName'|translate"/>
          <mat-error *ngIf="stage.get('name').invalid">
            {{ 'validations.pleaseInputName'|translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" formControlName="duration" required
                 [placeholder]="'phrases.plantStageDuration'|translate"/>
          <mat-error *ngIf="stage.get('duration').invalid">
            {{ 'validations.pleaseInputPlantStageDuration'|translate }}
          </mat-error>
        </mat-form-field>

        <button mat-icon-button type="button" (click)="removeStage(i)" *ngIf="form.get('stages').value.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>

    <button mat-stroked-button type="button" (click)="pushStage()">{{ 'phrases.addAStage'|translate }}</button>
  </div>

  <button mat-raised-button color="primary" type="submit">{{ 'words.save'|translate }}</button>
</form>
