<form [formGroup]="form" (ngSubmit)="submitForm()">
  <h1 mat-dialog-title>{{ 'phrases.changeMyPassword'|translate }}</h1>

  <div mat-dialog-content class="dialog-form">
    <mat-form-field>
      <input [placeholder]="'words.currentPassword'|translate" formControlName="currentPassword" matInput
             required type="password"/>
      <mat-error *ngIf="form.get('currentPassword').invalid">
        {{ 'validations.pleaseInputYourCurrentPassword'|translate }}
      </mat-error>
    </mat-form-field>

    <app-password-form></app-password-form>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'words.cancel'|translate }}</button>
    <button mat-button mat-raised-button color="primary" type="submit">
      {{ 'phrases.changeMyPassword'|translate }}
    </button>
  </div>
</form>
