<form [formGroup]="form" (ngSubmit)="submitForm()">
  <h1 mat-dialog-title>{{ 'phrases.changeMyPassword'|translate }}</h1>

  <div mat-dialog-content class="dialog-form">
    <mat-form-field>
      <input matInput type="password" formControlName="password" [placeholder]="'words.currentPassword'|translate" required/>
      <mat-error *ngIf="form.get('password').invalid">
        {{ 'validations.pleaseInputYourCurrentPassword'|translate }}
      </mat-error>
    </mat-form-field>

    <div class="inline-form-fields">
      <mat-form-field>
        <input matInput type="password" formControlName="newPassword" [placeholder]="'words.newPassword'|translate" required/>
        <mat-error *ngIf="form.get('newPassword').invalid">
          {{ 'validations.pleaseInputYourNewPassword'|translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="repeatedNewPassword" [placeholder]="'phrases.repeatYourNewPassword'|translate"
               required [errorStateMatcher]="crossFieldErrorMatcher"/>
        <mat-error *ngIf="form.hasError('matchFormControl')">
          {{ 'validations.passwordsDontMatch'|translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'words.cancel'|translate }}</button>
    <button mat-button mat-raised-button color="primary" type="submit">
      {{ 'phrases.changeMyPassword'|translate }}
    </button>
  </div>
</form>
