<h1 mat-dialog-title i18n="@@changeMyPassword">Changer mon mot de passe</h1>

<div mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Mot de passe actuel" required i18n-placeholder="@@currentPassword"/>
      <mat-error *ngIf="form.get('password').invalid" i18n="@@pleaseGiveYourCurrentPassword">
        Merci de renseigner votre mot de passe actuel.
      </mat-error>
    </mat-form-field>

    <div class="inline-form-fields">
      <mat-form-field>
        <input matInput type="password" formControlName="newPassword" placeholder="Nouveau mot de passe" required i18n-placeholder="@@newPassword"/>
        <mat-error *ngIf="form.get('newPassword').invalid" i18n="@@pleaseGiveYourNewPassword">
          Merci de renseigner votre nouveau mot de passe.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" formControlName="repeatedNewPassword" placeholder="Répétez votre mot de passe" required
               i18n-placeholder="@@repeatedPassword" [errorStateMatcher]="crossFieldErrorMatcher"/>
        <mat-error *ngIf="form.hasError('matchFormControl')" i18n="@@passwordsDontMatch">
          Les mots de passe ne correspondent pas.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close i18n="@@cancel">Annuler</button>
  <button mat-button mat-raised-button color="primary" i18n="@@changeMyPassword" (click)="submitForm()">Changer mon mot de passe</button>
</div>
