<form class="manage-request-distribution l-content-block" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="distributions-container" formArrayName="requestDistributions">
    <mat-label i18n="@@plantDistribution">Répartition des plantes entre les serres</mat-label>

    <ul>
      <li *ngFor="let distribution of form.get('requestDistributions').controls; let i = index" [formGroupName]="i"
          class="inline-form-fields">

        <mat-form-field>
          <mat-label i18n="@@greenhouse">Serre</mat-label>
          <mat-select formControlName="greenhouse">
            <mat-option *ngFor="let greenhouse of greenhouses" [value]="greenhouse">
              {{ greenhouse.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="distribution.get('greenhouse').invalid" i18n="@@pleaseChooseAGreenhouse">Merci de choisir
            une serre.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@bench">Tablette</mat-label>
          <mat-select formControlName="bench">
            <ng-container *ngIf="null !== distribution.get('greenhouse').value">
              <mat-option *ngFor="let bench of distribution.get('greenhouse').value.benches" [value]="bench">
                {{ bench.name }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="distribution.get('bench').invalid" i18n="@@pleaseChooseABench">Merci de choisir une
            tablette.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="number" formControlName="plantQuantity"
                 placeholder="Nombre de plantes"
                 i18n-placeholder="@@plantQuantity"/>
          <mat-error *ngIf="distribution.get('plantQuantity').invalid" i18n="@@pleaseGivePlantQuantity">
            Merci de renseigner le nombre de plantes à disposer.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@plantsStage">Stade des plantes</mat-label>
          <mat-select formControlName="plantStage">
            <mat-option *ngFor="let stage of request.plant.stages" [value]="stage">
              {{ stage.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="distribution.get('plantStage').invalid" i18n="@@pleaseChooseAPlantStage">Merci de choisir un
            stade.
          </mat-error>
        </mat-form-field>

        <button mat-icon-button type="button" (click)="removeDistribution(i)"
                *ngIf="form.get('requestDistributions').value.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>

    <button mat-stroked-button type="button" (click)="pushDistribution()" i18n="@@addDistribution">Ajouter une tablette
      à la répartition
    </button>
  </div>

  <button mat-raised-button color="primary" type="submit" i18n="@@saveTheDistribution">Enregistrer la répartition
  </button>
</form>
