<form class="manage-request-distribution l-content-block" formArrayName="distributions" (ngSubmit)="submitForm()">
  <div class="repartitions-container">
    <mat-label i18n="@@plantDistribution">Répartition des plantes entre les serres</mat-label>

    <ul class="distributions-container">
      <li *ngFor="let distribution of distributions.controls; let i = index" [formGroupName]="i" cdkDrag
          class="inline-form-fields">

        <mat-form-field>
          <mat-label i18n="@@greenhouse">Serre</mat-label>
          <mat-select formControlName="serre">
            <mat-option *ngFor="let greenhouse of greenhouses" [value]="greenhouse">
              {{ greenhouse.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="distribution.get('greenhouse').invalid" i18n="@@pleaseChooseAGreenhouse">Merci de choisir une serre.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@bench">Tablette</mat-label>
          <mat-select formControlName="bench">
            <ng-container *ngIf="null !== distribution.get('greenhouse').value">
              <mat-option *ngFor="let bench of distribution.get('greenhouse').value.benches" [value]="bench">
                {{ bench.name }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="form.get('bench').invalid" i18n="@@pleaseChooseABench">Merci de choisir une tablette.</mat-error>
        </mat-form-field>

        <button mat-icon-button type="button" (click)="removeDistribution(i)" *ngIf="distributions.value.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>

    <button mat-stroked-button type="button" (click)="pushDistribution()" i18n="@@addDistribution">Ajouter une tablette à la répartition</button>
  </div>

  <button mat-raised-button color="primary" type="submit" i18n="@@saveTheDistribution">Enregistrer la répartition</button>
</form>
