<form class="manage-request-distribution l-content-block" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="distributions-container" formArrayName="requestDistributions">
    <mat-label>{{ 'phrases.plantsDistribution'|translate }}</mat-label>

    <ul>
      <li *ngFor="let distribution of form.get('requestDistributions').controls; let i = index" [formGroupName]="i"
          class="inline-form-fields distribution-group-fields">
        <mat-form-field>
          <mat-label>{{ 'words.greenhouse'|translate }}</mat-label>
          <mat-select formControlName="greenhouse" required>
            <mat-option *ngFor="let greenhouse of greenhouses" [value]="greenhouse">
              {{ greenhouse.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="distribution.get('greenhouse').invalid">
            {{ 'validations.pleaseChooseAGreenhouse'|translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'words.bench'|translate }}</mat-label>
          <mat-select formControlName="bench" required>
            <ng-container *ngIf="null !== distribution.get('greenhouse').value">
              <mat-option *ngFor="let bench of distribution.get('greenhouse').value.benches" [value]="bench">
                {{ bench.name }}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="distribution.get('bench').invalid">
            {{ 'validations.pleaseChooseABench'|translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'phrases.plantsStage'|translate }}</mat-label>
          <mat-select formControlName="plantStage" required>
            <mat-option *ngFor="let stage of request.plant.stages" [value]="stage">
              {{ stage.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="distribution.get('plantStage').invalid">
            {{ 'validations.pleaseChooseAPlantStage'|translate }}
          </mat-error>
        </mat-form-field>

        <mat-checkbox formControlName="surfaceInputtedManually">
          {{ 'phrases.inputSurfaceManually'|translate }}
        </mat-checkbox>

        <div class="inline-form-fields surface-group-fields">
          <ng-container *ngIf="true != distribution.get('surfaceInputtedManually').value; else manualSurface">
            <mat-form-field>
              <input matInput required type="number" formControlName="quantity"
                     [placeholder]="'phrases.potsNumber'|translate"/>
              <mat-error *ngIf="distribution.get('quantity').invalid">
                {{ 'validations.pleaseInputThePotsNumber'|translate }}
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'words.pot'|translate }}</mat-label>
              <mat-select formControlName="pot" required>
                <mat-option *ngFor="let pot of pots" [value]="pot">
                  {{ pot.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="distribution.get('pot').invalid">
                {{ 'validations.pleaseChooseAPot'|translate }}
              </mat-error>
            </mat-form-field>
          </ng-container>

          <ng-template #manualSurface>
            <mat-form-field>
              <input matInput required type="number" formControlName="manualSurface"
                     [placeholder]="'words.surface'|translate"/>
              <mat-error *ngIf="distribution.get('manualSurface').invalid">
                {{ 'validations.pleaseInputTheSurface'|translate }}
              </mat-error>
            </mat-form-field>
          </ng-template>
        </div>

        <button mat-icon-button type="button" (click)="removeDistribution(i)"
                *ngIf="form.get('requestDistributions').value.length > 1">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>

    <button mat-stroked-button type="button" (click)="pushDistribution()">
      {{ 'phrases.addABench'|translate }}
    </button>
  </div>

  <button mat-raised-button color="primary" type="submit">
    {{ 'words.save'|translate }}
  </button>
</form>
