<form [formGroup]="form" (ngSubmit)="submitForm()">
  <h1 mat-dialog-title>{{ 'phrases.askForAnAccount'|translate }}</h1>

  <div mat-dialog-content class="dialog-form">
    <mat-form-field>
      <input matInput formControlName="firstName" required [placeholder]="'words.firstName'|translate"/>
      <mat-error *ngIf="form.get('firstName').invalid">
        {{ 'validations.pleaseInputYourFirstName'|translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="lastName" required [placeholder]="'words.lastName'|translate"/>
      <mat-error *ngIf="form.get('lastName').invalid">
        {{ 'validations.pleaseInputYourLastName'|translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" formControlName="email" required [placeholder]="'words.email'|translate"/>
      <mat-error *ngIf="form.get('email').invalid">
        {{ 'validations.pleaseInputYourEmail'|translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
    <textarea matInput formControlName="comment" [placeholder]="'phrases.whyDoYouWantAnAccount'|translate"></textarea>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>
      {{ 'words.cancel'|translate }}
    </button>
    <button mat-button mat-raised-button color="primary">
      {{ 'phrases.askForAnAccount'|translate }}
    </button>
  </div>
</form>
