<h1 mat-dialog-title i18n="@@IForgotMyPassword">J'ai oublié mon mot de passe</h1>

<div mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field>
      <input matInput type="email" formControlName="mail" required placeholder="Adresse e-mail"
             i18n-placeholder="@@email"/>
      <mat-error *ngIf="form.get('mail').invalid" i18n="@@pleaseEnterYourEmailToRetrieveYourPassword">
        Merci de renseigner votre adresse e-mail pour récupérer votre mot de passe.
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close i18n="@@cancel">Annuler</button>
  <button mat-button mat-raised-button color="primary" i18n="@@retrieveMyPassword" (click)="submitForm()">Récupérer mon mot de passe</button>
</div>
