<form [formGroup]="form" (ngSubmit)="submitForm()">
  <h1 mat-dialog-title>{{ 'phrases.IForgotMyPassword'|translate }}</h1>

  <div mat-dialog-content class="dialog-form">
    <mat-form-field>
      <input matInput type="email" formControlName="email" required [placeholder]="'words.email'|translate"/>
      <mat-error *ngIf="form.get('email').invalid">
        {{ 'validations.pleaseInputYourEmailToRecoverYourPassword'|translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'words.cancel'|translate }}</button>
    <button mat-button mat-raised-button color="primary" type="submit">
      {{ 'phrases.recoverMyPassword'|translate }}
    </button>
  </div>
</form>
