@import '../_variables.scss';

.l-wrapper {
  $height: calc(100% - #{$toolbarSize});

  display: flex;
  height: $height;

  > .l-main-content-container {
    $padding: 10px;
    $height: 100%;

    height: $height;
    padding: $padding;
    flex-grow: 1;
    overflow-y: auto;
    background-color: $grey;
  }
}
