@import '../_variables.scss';

.l-wrapper {
  $height: calc(100% - 64px); // 64px is the height of the toolbar

  display: flex;
  height: $height;
  background-color: $whiteBackground;

  > .l-main-content-container {
    $padding: 10px;
    $height: calc(100% - $padding);

    padding: $padding;
    width: 100%;
    height: $height;
    max-height: $height;
    overflow-y: auto;
  }
}
