<form class="l-content-block form-one-field-by-line" [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field>
    <input matInput type="email" formControlName="email" required [placeholder]="'phrases.userToInviteEmail'|translate"/>
    <mat-error *ngIf="form.get('email').invalid">
      {{ 'validations.pleaseInputUserToInviteEmail'|translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'phrases.userToInviteRole'|translate }}</mat-label>
    <mat-select formControlName="role" required>
      <mat-option *ngFor="let role of roles; let i = index" [value]="role">
        {{ roleLabels[i]|translate }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('role').invalid">
      {{ 'validations.pleaseInputUserToInviteRole'|translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="firstName" required [placeholder]="'phrases.userToInviteFirstName'|translate"/>
    <mat-error *ngIf="form.get('firstName').invalid">
      {{ 'validations.pleaseInputUserToInviteFirstName'|translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" formControlName="lastName" required [placeholder]="'phrases.userToInviteLastName'|translate"/>
    <mat-error *ngIf="form.get('lastName').invalid">
      {{ 'validations.pleaseInputUserToInviteLastName'|translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="form.get('role').value === roles[0]">
    <input matInput type="text" formControlName="laboratory" [placeholder]="'phrases.userToInviteLaboratory'|translate"/>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">{{ 'phrases.sendInvitation'|translate }}</button>
</form>
