<form class="l-content-block form-one-field-by-line" [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field>
    <input matInput type="email" formControlName="userMail" required [placeholder]="'phrases.userToInviteMail'|translate"/>
    <mat-error *ngIf="form.get('userMail').invalid">
      {{ 'validations.pleaseInputUserToInviteEmail'|translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ 'phrases.userToInviteRole'|translate }}</mat-label>
    <mat-select formControlName="userRole" required>
      <mat-option *ngFor="let role of roles; let i = index" [value]="role">
        {{ roleLabels[i]|translate }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('userRole').invalid">
      {{ 'validations.pleaseInputUserToInviteRole'|translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput formControlName="userValidUntil" [matDatepicker]="picker"
           [placeholder]="'phrases.accountValidityEndDate'|translate"
           [min]="minValidityDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">{{ 'phrases.sendInvitation'|translate }}</button>
</form>
