<form class="create-account-form l-content-block" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="inline-form-fields">
    <app-password-form></app-password-form>
  </div>

  <div class="inline-form-fields" *ngIf="form.get('laboratory')">
    <mat-form-field>
      <input matInput type="text" formControlName="laboratory" [placeholder]="'words.laboratory'|translate" />
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">{{ 'phrases.saveMyPassword'|translate }}</button>
</form>
