<ng-container [formGroup]="form">
  <mat-form-field>
    <input [placeholder]="'words.newPassword'|translate" formControlName="password" matInput required type="password"/>
    <mat-error *ngIf="form.get('password').invalid">
      {{ 'validations.pleaseInputYourNewPassword'|translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input [errorStateMatcher]="crossFieldErrorMatcher" [placeholder]="'phrases.repeatYourNewPassword'|translate" formControlName="passwordConfirmation"
           matInput
           required type="password"/>
    <mat-error *ngIf="form.hasError('matchFormControl')">
      {{ 'validations.passwordsDontMatch'|translate }}
    </mat-error>
  </mat-form-field>
</ng-container>
