<form class="l-content-block" *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">

  <div class="inline-form-fields">
    <mat-form-field>
      <input matInput formControlName="name"
             required [placeholder]="'words.name'|translate"/>
      <mat-error *ngIf="form.get('name').invalid">
        {{ 'validations.pleaseInputName'|translate }}
      </mat-error>
    </mat-form-field>

    <app-shape-form [form]="form"></app-shape-form>
  </div>

  <button mat-raised-button color="primary" type="submit">{{ 'words.save'|translate }}</button>
</form>

