<form class="l-content-block" [formGroup]="form" (ngSubmit)="submitForm()">

  <div class="inline-form-fields">
    <mat-form-field>
      <input matInput formControlName="name"
             required placeholder="Nom"
             i18n-placeholder="@@name"/>
      <mat-error *ngIf="form.get('name').invalid" i18n="@@pleaseInputAName">
        Merci de renseigner un nom.
      </mat-error>
    </mat-form-field>

    <app-shape-form [form]="form"></app-shape-form>
  </div>

  <button mat-raised-button color="primary" type="submit" i18n="@@saveThePot">Sauvegarder le pot</button>
</form>

