@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '_variables.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $black;
}
