@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

@import '_variables.scss';
@import '_mixins.scss';

/* Base styles */

*, *:before, *:after {
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $black;
}

/* Layout */

.l-title-block, .l-content-block {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* Form styles */

mat-form-field {
  display: block;
  margin: 10px 5px;
  max-width: 400px;
  flex-grow: 1;
}

.double-size-form-field {
  width: 805px;
  max-width: 100%;
  margin: 10px 0;
}

.inline-form-fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.block-form-field {
  display: block;
}

.form-one-field-by-line > mat-form-field {
  display: block;
}

/* Dialog styles */

.mat-dialog-title {
  text-align: center;
}

.mat-dialog-content.dialog-form {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  align-items: center;

  mat-form-field {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0.83em;
  }

  > .inline-form-fields {
    min-width: 100%;
    width: 100%;
  }
}

/* Snackbar styles */

.mat-snack-bar-container {
  color: $black;

  &.info {
    background-color: $white;
  }

  &.success {
    background-color: $primaryColor;
  }

  &.warning {
    background-color: $yellow;
  }

  &.error {
    background-color: $red;
  }
}

/* Action buttons */

.actions-button {
  > button + button {
    margin-left: 8px;
  }
}

/* Top action buttons */

.top-actions-button {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
