<nav class="top-actions-button">
  <button mat-raised-button color="primary" (click)="openChangePasswordDialog()">
    {{ 'phrases.changeMyPassword'|translate }}
  </button>
</nav>

<form class="create-account-form l-content-block" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="inline-form-fields">
    <mat-form-field>
      <input matInput formControlName="firstName" [placeholder]="'words.firstName'|translate" required/>
      <mat-error *ngIf="form.get('firstName').invalid">
        {{ 'validations.pleaseInputYourFirstName'|translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="lastName" [placeholder]="'words.lastName'|translate" required/>
      <mat-error *ngIf="form.get('lastName').invalid">
        {{ 'validations.pleaseInputYourLastName'|translate }}
      </mat-error>
    </mat-form-field>
  </div>


  <div class="inline-form-fields" *ngIf="isRequester()">
    <mat-form-field>
      <input matInput formControlName="laboratory" [placeholder]="'words.laboratory'|translate"/>
    </mat-form-field>

    <!-- todo: possibility to choose a responsible
    <mat-form-field *ngIf="!form.get('responsibleNotExists').value; else responsibleNotFound">
        <mat-label>{{ 'words.responsible'|translate }}</mat-label>
        <mat-select formControlName="responsible">
          <mat-option *ngFor="let user of users" [value]="user">
            {{ user.firstName }} {{ user.lastName }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <ng-template #responsibleNotFound>
      <mat-form-field>
        <input matInput formControlName="responsible" [placeholder]="'words.responsible'|translate" />
      </mat-form-field>
    </ng-template>

    <mat-checkbox formControlName="responsibleNotExists">
      {{ 'phrases.IDontFindMyResponsible'|translate }}
    </mat-checkbox>
    -->
  </div>

  <button mat-raised-button color="primary" type="submit">{{ 'words.validate'|translate }}</button>
</form>
