<nav *ngIf="userService.isUserLoggedIn()" [ngClass]="{'l-menu': true, 'l-menu-open': menuService.isOpen$|async}">
  <ul class="l-menu-items">
    <li>
      <a [routerLinkActive]="'active-menu-item'" [routerLink]="['/home']">
        <mat-icon fontSet="fa" fontIcon="fa-home"></mat-icon>
        <span>{{ 'words.home'|translate }}</span>
      </a>
    </li>
    <ng-container *ngIf="permissionService.isGrower()">
      <li>
        <a [routerLinkActive]="'active-menu-item'" [routerLink]="['/grower/greenhouses-list']">
          <mat-icon fontIcon="fa-warehouse" fontSet="fa"></mat-icon>
          <span>{{ 'words.greenhouses'|translate }}</span>
        </a>
      </li>
      <li>
        <a [routerLinkActive]="'active-menu-item'" [routerLink]="['/grower/plants-list']">
          <mat-icon fontIcon="fa-leaf" fontSet="fa"></mat-icon>
          <span>{{ 'words.plants'|translate }}</span>
        </a>
      </li>
      <li>
        <a [routerLinkActive]="'active-menu-item'" [routerLink]="['/grower/pots-list']">
          <mat-icon fontIcon="fa-archive" fontSet="fa"></mat-icon>
          <span>{{ 'words.pots'|translate }}</span>
        </a>
      </li>
    </ng-container>
    <li>
      <a [routerLink]="['/manage-account']" [routerLinkActive]="'active-menu-item'">
        <mat-icon fontSet="fa" fontIcon="fa-user"></mat-icon>
        <span>{{ 'words.myAccount'|translate }}</span>
      </a>
    </li>
    <ng-container *ngIf="permissionService.isGrower()">
      <li>
        <a [routerLinkActive]="'active-menu-item'" [routerLink]="['/grower/accounts-list']">
          <mat-icon fontIcon="fa-users" fontSet="fa"
                    matBadge="4" matBadgeColor="warn" matBadgeOverlap="true" matBadgePosition="before"></mat-icon>
          <span>{{ 'words.users'|translate }}</span>
        </a>
      </li>
      <li>
        <a [routerLinkActive]="'active-menu-item'" [routerLink]="['/grower/invite-user']">
          <mat-icon fontIcon="fa-paper-plane" fontSet="fa"></mat-icon>
          <span>{{ 'phrases.inviteANewUser'|translate }}</span>
        </a>
      </li>
    </ng-container>
  </ul>
</nav>
