<ng-container [formGroup]="form">
  <mat-form-field>
    <mat-label>{{ 'words.shape'|translate }}</mat-label>
    <mat-select formControlName="shape" required>
      <mat-option *ngFor="let shape of shapes; let i = index" [value]="shape">
        {{ shape.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('shape').invalid">
      {{ 'validations.pleaseChooseAShape'|translate }}
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="null != form.get('shape') && null != form.get('shape').value">
    <mat-form-field *ngFor="let dimension of form.get('dimensions').controls; let i = index">
      <input matInput [formControl]="dimension"
             type="number" required [placeholder]="form.get('shape').value.dimensionNames[i]"/>
      <mat-error *ngIf="dimension.invalid">
        {{ 'validations.pleaseInputTheDimension'|translate }}
      </mat-error>
    </mat-form-field>
  </ng-container>
</ng-container>
