<form class="l-content-block" *ngIf="form" [formGroup]="form">
  <div class="inline-form-fields">
    <mat-form-field>
      <input matInput formControlName="firstName"
             required [placeholder]="'words.firstName'|translate"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="lastName"
             required [placeholder]="'words.lastName'|translate"/>
    </mat-form-field>

    <!-- todo: add possibility to choose end validity date of the account directly before validation
      <mat-form-field>
        <input matInput formControlName="validUntil" [matDatepicker]="picker"
               [placeholder]="'phrases.endValidityDate'|translate"
               [min]="minValidityDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('validUntil').invalid">
          {{ 'validations.pleaseInputAValidDate'|translate }}
        </mat-error>
      </mat-form-field>
    -->
  </div>

  <div class="inline-form-fields">
    <mat-form-field class="double-size-form-field">
      <textarea matInput formControlName="comment"
                [placeholder]="'phrases.commentLinkedToTheAccountRequest'|translate"></textarea>
    </mat-form-field>
  </div>

  <div class="actions-button">
    <button mat-raised-button color="warn" type="button" (click)="handleAccountRequest(false)">
      {{ 'phrases.refuseTheAccountRequest'|translate }}
    </button>
    <button mat-raised-button color="primary" type="button" (click)="handleAccountRequest(true)">
      {{ 'phrases.acceptTheAccountRequest'|translate }}
    </button>
  </div>
</form>
